pre
{
    max-height: 50em;
}

section>*{
    margin-left: 100px;
}

#db_tables table{
    width: 100% !important;
    table-layout:fixed;
    word-break: break-all;
}

.src-btn{
    width:19%;
}

h1{
    text-decoration:  underline;
}