body{
    background: rgb(51, 51, 51);
}
#mainCanvas{
    background: rgb(51, 51, 51);
}

form{
    display: table;
    color: white;
}

span.row{
    display: table-row;
}

label{
    display: table-cell;
}

input{
    display: table-cell;
}